<h2>New book</h2>
<%= form_with model: @new_book do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :opinion %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.submit 'Create Book' %>
  </div>
<% end %>
<div>
  <h2>Book detail</h2>
  <table>
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(@user) do %>
            <%= image_tag @user.get_profile_image(80,80) %><br>
            <%= @user.name %>
          <% end %>
        </td>
        <td>
          <%= link_to book_path(@book) do %>
            <%= @book.title %>
          <% end %>
        </td>
        <td>
          <%= @book.body %>
        </td>
          <% if @user == current_user %>
        <td>
          <%= link_to "Edit", edit_book_path(@book)%>
        </td>
        <td>
          <%= link_to "Destroy", book_path(@book), method: :delete %>
        </td>
      <% end %>
      </tr>
    </tbody>
  </table>
</div>